

<ion-content>
  


  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/>

        
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,500,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600,700,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700,400italic' rel='stylesheet' type='text/css'>
    
    <link href="css/styles.css" rel="stylesheet" type="text/css" media="screen">
   
   
    <meta name="robots" content="INDEX,FOLLOW" />

    <meta name="author" content="Bute Art">     
    <meta name="keywords" content="Enter Keywords" />
 <meta name="description" content="Description Here" />

   <title>Bute Art Retreat</title>
</head>

<body> -->

   <div id="wrapper1">
       <div id="wrapper">
               <div id="top-bg">
                   <div id="top">
                       <div id="name">
                            <h1>Bute Art Retreat</h1>
                        </div>   <!-- end of name div-->
                        <div id="icons">
      
                          
                           <a href="https://www.instagram.com/buteartretreat/"><img src="../assets/images/instagram.png" /> </a> 
                           <a href="https://www.facebook.com/Bute-Art-Retreat-105787918274011l"> <img src="../assets/images/facebook.png" />  </a>
                          
                        </div>
                       </div> <!-- end of top div-->
              
          </div> <!-- end of top-bg div-->
         
          <div id="bar">
           <ul>
           
             <li routerLink="/home"  routerDirection="forward">           ABOUT   
                 
            </li> 
    
            <li routerLink="/packages"  routerDirection="forward">         PACKAGES    
                 
            </li> 
         
              <li routerLink="/contact-us"  routerDirection="forward"> CONTACT US
            
            </li> 
            
    
            
                      
               
         </ul>
           </div><!-- bar -->
      
      
          
           <div id="banner">
             <img src="../assets/images/coverp.jpg">
          </div> <!-- end of banner div-->
        
       
         

         <div id="subbanner">
         
               <h3>WELCOME   BIENVENUE BIENVENIDAS HERZLICH WILLCOMMEN BENVENUTASÍ</h3>
                
          
          </div> <!-- end of subbanner div-->

   <div id="content-bg">
       <div id="content">
           <h2>Contact </h2>
           <p></p>
          <h3>If you have enquiries or would like to make a booking, please contact us on</h3>
          <p></p>
            buteartretreat@gmail.com
          <p></p>

          <div id="address">
          <h3>Address</h3>
          <p>Bute Art Retreat</p>
          <p>Port Royal Hotel</p>
          <p>37 Marine Rd.</p>
          <p>Port Bannatyne</p>
          <p>Isle of Bute</p>
          <p>PA20 0LW</p>
          <p>01700 505073</p>
       </div>

      </div> <!-- end of content div-->
   </div> <!-- end of content-bg div-->
   <div id="footer-bg">   
          <div id="footer">
           <p class="footer-text">&copy;Copyright 2022 & full All Rights Reserved &  Bute Art Retreat</p>
        
         
           </div> <!-- end of footer div-->
       </div> <!-- end of footer-bg div-->
 







   </div> <!-- end of wrapper div-->
     </div>
</ion-content>
