

<ion-content>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/>
 
          
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,500,300,600' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600,700,400' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700,400italic' rel='stylesheet' type='text/css'>
      
      <link href="css/styles.css" rel="stylesheet" type="text/css" media="screen">
     
     
      <meta name="robots" content="INDEX,FOLLOW" />
 
      <meta name="author" content="Bute Art">     
      <meta name="keywords" content="Enter Keywords" />
   <meta name="description" content="Description Here" />
 
     <title>Bute Art Retreat</title>
 </head>
 
 <body> -->
 
     <div id="wrapper1">
         <div id="wrapper">
                 <div id="top-bg">
                     <div id="top">
                         <div id="name">
                              <h1>Bute Art Retreat</h1>
                          </div>   <!-- end of name div-->
                          <div id="icons">
                       
                            
                             <a href="https://www.instagram.com/buteartretreat/"><img src="../assets/images/instagram.png" /> </a> 
                             <a href="https://www.facebook.com/Bute-Art-Retreat-105787918274011l"> <img src="../assets/images/facebook.png" />  </a>
                            
                          </div>
                         </div> <!-- end of top div-->
                
            </div> <!-- end of top-bg div-->
           
            <div id="bar">
             <ul>
             
                 <li routerLink="/home"  routerDirection="forward">           ABOUT   
                     
                </li> 
        
                <li routerLink="/packages"  routerDirection="forward">         PACKAGES    
                     
                </li> 
             
                  <li routerLink="/contact-us"  routerDirection="forward"> CONTACT US
                
                </li> 
                
        
                
                          
                   
             </ul>
             </div><!-- bar -->
        
        
            
             <div id="banner">
               <img src="../assets/images/coverp.jpg">
            </div> <!-- end of banner div-->
          
         
           
 
           <div id="subbanner">
           
                 <h3>WELCOME   BIENVENUE BIENVENIDAS HERZLICH WILLCOMMEN BENVENUTA </h3>
                  
            
            </div> <!-- end of subbanner div-->
 
     <div id="content-bg">
         <div id="content">
             <h2>About </h2>
             <p>Bute art Retreat is situated on  the shores of a beautiful  Kames Bay  on the holiday isle of Bute. The Isle of Bute, the most accessible Western Scottish island lies within an easy reach of Glasgow International airport and only 1.30 min train and ferry journey from Glasgow. The full guide to things to do on Bute can be found here <a href="https://www.tripadvisor.co.uk/Attractions-g551923-Activities-a_allAttractions.true-Isle_of_Bute_Argyll_and_Bute_Scotland.html" ><span id="bold">10 Best Things to do in Isle of Bute</span></a></p>
              <p>Immerse in relaxing atmosphere and enjoy breathtaking landscapes, walks and cycling on the isle of Bute.  Mountain bikes or e-bikes can be rented from <a href="https://fynefutures.org.uk/bikebute/">Bike Bute</a> situated 100 m from Bute Art Retreat 
               . Port Bannatyne Golf course is situated just 500 m away from Bute Art Retreat.</p>
             <p>The guest who booked one of our packages will have a full day access to first floor <a href="https://www.facebook.com/watch/?v=544815986491237">104 square meters studio room</a>, accommodation in en-suite rooms situated in 17th century fishman's cottage as well as served healthy breakfast, lunch and dinner which include vegetarian and vegan options. <a href=packages.html>The packages</a> can adjusted to the guests' requirements. </p>
        </div> <!-- end of content div-->
     </div> <!-- end of content-bg div-->
     <div id="footer-bg">   
            <div id="footer">
             <p class="footer-text">&copy;Copyright 2022 & full All Rights Reserved &  Bute Art Retreat</p>
          
           
             </div> <!-- end of footer div-->
         </div> <!-- end of footer-bg div-->
   
 
 
 
 
 
 
 
     </div> <!-- end of wrapper div-->
       </div>
 </ion-content>
 